* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(12, 13, 32)!important;
}
.navbar {
  display: flex;
  background-color: rgb(16, 23, 39) !important;
}
.navbar-link {
  display: flex;
  justify-items: center;
  list-style-type: none;
}
.navbar-link > li {
  margin: .5em 1em .5em 1em;
}
.container-popular {
  width: 96%;
  display: flex;
  scrollbar-color: black;
}
.poster-img {
  width: 11rem;
  margin: 1em;
  border-radius: 5px;
  border: 1px solid white;
}
.poster-card {
  border: 1px solid white;
  border-radius: 5px;
}

.profile-img {
  border-radius: 10em;
  border: 1px solid white;
}
.image-container {
  position: relative;
  transition: transform 0.2s;
}
.image-container:hover {
  cursor: pointer;
  transform: scale(1.1)
}
.image-container:hover .overlay {
  opacity: 1;
}
.overlay {
  position: absolute;
  background: rgba(0, 0 , 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.fav-text {
  color: white;
  font-size: .8rem;
}
.fav-heading {
  color: rgb(59, 2, 2);
}
.heart {
  color: red;
}
.trash {
  color: white;
}
.nav-link, .nav-link:hover {
  color: whitesmoke;
}

.link, .link:hover {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.heading-link {
  color: rgb(59, 2, 2);

}
.heading-link:hover {
  color:rgb(59, 2, 2);
  text-decoration: none;
}